<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Investment Calc</title>
    <meta name="Description" content="CryptoCurrency Investment Calculator"/>
    <meta name="Keywords" content="crypto currency cryptocurrency investment calculator calc bitcoin etherum ripple"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="dist/index.css">
    <script src="dist/index.js"></script>
  </head>
  <body ng-app="investmentcalc" ng-controller="controller as controller">
    <div class="jumbo">
      <div class="heading"> Investment Calc </div>
      <div class="sec">
        <span class="label">Investment</span>
        $<input ng-model="controller.amount" class="value" type="number">
      </div>
      <div class="sec">
        <span class="label">Goal</span>
        $<input ng-model="controller.goal" class="value" type="number">
      </div>
      <div class="sec">
        <span class="label">Percent Increase</span>
        <span class="value">{{controller.trim(((controller.goal - controller.amount) / controller.amount) * 100)}}%</span>
      </div>
    </div>
    <div class="legend">
      <input ng-model="controller.search" class="search" type="search" placeholder="Search Coins">
      <div class="right">
        <div class="amount">
          Token Amount
        </div>
        @
        <div class="price">
          Current Price
        </div>
        &rarr;
        <div class="goal">
          Target Price
        </div>
      </div>
    </div>
    <div class="list" ng-if="controller.list.length">
      <a ng-repeat="entry in controller.list | filter:controller.search" class="entry" href="https://coinmarketcap.com/currencies/{{entry.id}}/">
        <div class="left">
          <div class="logo">
            <img ng-src="https://files.coinmarketcap.com/static/img/coins/16x16/{{entry.id}}.png" alt="{{entry.id}}">
          </div>
          <div class="name">
            {{entry.name}}
          </div>
        </div>
        <div class="right">
          <div class="amount">
            {{controller.calcAmount(entry)}}
          </div>
          @
          <div class="price">
            ${{controller.trim(entry.price_usd)}}
          </div>
          &rarr;
          <div class="goal">
            ${{controller.calcGoal(entry)}}
          </div>
        </div>
      </a>
    </div>
    <div class="loading" ng-if="!controller.list.length">
      Loading...
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88756080-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
