body {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  font-family: sans-serif;
  text-rendering: geometricPrecision;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.jumbo {
  padding: 1rem;

  .heading {
    font-size: 3rem;
    font-weight: 100;
  }

  .sec {

    .label {
      font-weight: 100;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
    }

    input.value {
      border: 0;
      border-radius: 0;
      background: none;
      border-bottom: 1px solid #EEE;
      outline: none;
      transition: border-color 100ms ease;

      &:hover {
        border-bottom: 1px solid #AAA;
      }

      &:focus {
        border-bottom: 1px solid #13CE66;
      }
    }
  }
}

.loading {
  display: flex;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  color: #BBB;
  font-weight: 100;
}

.legend {
  display: flex;
  border-bottom: 1px solid #AAA;
  padding: 0.5rem;
  justify-content: flex-end;
  align-items: center;

  .right {
    display: flex;
    align-items: center;
  }

  .search {
    flex: 1;
    padding: 0.5rem;
    border: 0;
    background: 0;
    outline: none;
    width: 100%;

    &::placeholder {
      color: #BBB;
    }
  }

  @media only screen and (max-width: 500px) {
    .right {
      display: none;
    }
  }
}

.amount, .price, .goal {
  background: #1FB6FF;
  border: 2px solid #009EEB;
  border-radius: 2px;
  padding: 0.5rem;
  color: white;
}

.price {
  background-color: #FF7849;
  border-color: #FF5216;
  color: white;
}

.goal {
  background-color: #13CE66;
  border-color: #0F9F4F;
  color: white;
}

.list {
  flex: 1 0;
  max-height: calc(100vh - 12.5rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .right {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .left {
    display: flex;
    overflow: hidden;
    align-items: center;
  }

  .entry {
    display: flex;
    border-bottom: 1px solid #DDD;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    transition: background-color 100ms ease;
    outline: 0;

    &:hover, &:focus {
      background: #F5F5F5;
    }

    .logo {
      padding-right: 0.5rem;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
